/*!
global > z-index
------------------------------
*/
:root {
  --z-index-modal: 100;
  --z-index-logo: 50;
  --z-index-menu: 30;
  --z-index-header: 10;
  --z-index-default: 1;
  --z-index-bg: -1;
}
